/* src/styles/DeleteConfirmationModal.css */
.delete-confirmation-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.delete-confirmation-modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.delete-confirmation-modal h2 {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 20px;
    color: #F8C0C9;
}

.delete-confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-button,
.cancel-button {
    background-color: #F8C0C0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover,
.cancel-button:hover {
    background-color: #F8C0C0;
}
