/* src/styles/TaskList.css */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f7d7dd;
}

.task-bubble-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-bubble-container.completed-task .task-dot,
.task-bubble-container.completed-task .task-bubble,
.task-bubble-container.completed-task .task-bubble-content,
.task-bubble-container.completed-task .task-bubble-name,
.task-bubble-container.completed-task .task-bubble-duedate {
  opacity: 0.5;
}

.task-dot {
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: transparent;
}

.task-dot.completed {
  background-color: white;
}

.task-bubble {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  position: relative;
}

.task-bubble::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 5px 0 0 5px;
}

.task-bubble.high-priority::before {
  background-color: red;
}

.task-bubble.medium-priority::before {
  background-color: yellow;
}

.task-bubble.low-priority::before {
  background-color: green;
}

.task-bubble.no-priority::before {
  background-color: gray;
}

.task-bubble:hover {
  background-color: #ffebf1;
}

.task-bubble-content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.task-bubble-name {
  font-weight: bold;
}

.task-bubble-duedate {
  font-size: 0.9em;
  color: #777;
}

.task-bubble-delete {
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 2px;
  font-size: 1.2em;
  margin-left: 10px;
  color: #ff69b4;
  opacity: 1;
}

.no-tasks-message {
  text-align: center;
  color: black;
  font-size: 1.2em;
  margin-top: 20px;
}
